<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
</head>
<body>
<h1>My Recipes!</h1>
<table>
<thead>
<tr>
    <th >Id</th>
    <th >Recipe Description</th>
    <th >Recipe CookingTime</th>
</tr>
</thead>
<tbody>


</tbody>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipes}">1</td>
        <td th:text="${recipes}">john</td>
        <td th:text="${recipes}">Doe</td>
    </tr>

</table>




</body>
</html>